body{

}
.parent-container{
    background: #fff;
    width:50%;
    height:100vh;
    position:fixed;
}
.container{
    width:80%;
    position: relative;
    top:15vh;
    left:20%;
    padding:100px 0 0 50px;
    text-align: left;
    color:#000;
    font-family: MTG Sans,Helvetica,Arial,sans-serif;
    font-size: 16px;
}
h1{
    margin-bottom:25px;
}
::placeholder{
    color:#eee;
}
input{
    color:#eee;
    padding:0 12px;
    display: block;
    width:70%;
    height:45px;
    margin:5px 0 15px 0;
    border:none;
    background-color: rgb(116, 116, 116);
}

button{
    display: block;
    width:70%;
    height:45px;
    margin: 75px 0 15px 0;
    padding:0 25px;
    text-align: left;
    font-size: 16px;
    background: #26ddaa;
    border:none;
    font-weight: bold;
    border-radius:3px;
    color:#fff;
}
input, button, .container{
    border-radius: 5px;
}
input:focus{outline:none;}
button:hover{
    cursor:pointer;
    background: #8b8b8b;
    color:#fff;
}
#newUser{
    color: #4a90e2;
    text-decoration: none;
    margin-left: 15px;
}
#login-fail-div{
    position : absolute;
}
