*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgba(47, 83, 7, 0.29);
}
li{
    list-style-type: none;
}
#current{
   /* border-bottom: 2px solid #000;*/
}


.header{
    height:75px;
   /* background: rgba(61, 101, 16, 0.57);*/
    /*background: rgba(47, 83, 7, 0.78);*/
    border-bottom:1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.logo{
    width:200px;
    border:1px solid black;
    height:100%;
}
img{
    display: block;

}
.nav-bar{
    display: block;
}
.nav-bar ul {
    display: flex;
    height:50px;
    align-items: center;
    justify-content: space-between;
    position:relative;
    top:calc(100% - 50px);
}
.nav-bar li {
    color:#000;
    font-size: 20px;
    display: block;
    width:150px;
    height:50px;
    padding:10px 0;
    text-align: center;
}
.nav-bar li:hover{
    border-bottom: 2px solid #000000;
    cursor:pointer;
    color:#000;
}

#userInfo{
    width:150px;
    height:100%;

}
#userInfo p {
    text-align: center;
    margin:25% 0;
    padding:5px 0;
    font-size: 18px;
}


.hero{
    background: #fff;
    max-width: 80%;
    height:auto;
    border:1px solid rgba(47, 83, 7, 0.78);
    box-shadow: 1px 1px rgba(47, 83, 7, 0.78);
    margin:100px auto;
    padding:35px 15px;
    border-radius: 8px;
}


table{
    border-collapse: collapse;
    width:100%;
}
tr{border:1px solid #000;}
th{
    height:25px;
    background: rgba(139, 139, 139, 0.23);

}
td{
    text-align: center;
    border-right:0.5px solid #000;
    height:35px;
}
